---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/luojiasi_24.jpg" alt="Home" width="100%">
    <p><center>Luojia Temple, Quanzhou, 2024.06.09</center></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/ottawa_23.jpg" alt="Home" width="100%">
    <p><center>Parliament Hill, Ottawa, 2023.11.02</center></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/palmilla_23.jpg" alt="Home" width="100%">
    <p><center>Palmilla Drive, San Diego, 2023.06.20</center></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/volcan_23.jpg" alt="Home" width="100%">
    <p><center>Julian, San Diego, 2023.07.29</center></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/nyc_23.jpg" alt="Home" width="100%">
    <p><center>Hudson River, New York, 2023.05.17</center></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/mission_trail_23.jpg" alt="Home" width="100%">
    <p><center>Mission Trail, San Diego, 2023.05.06</center></p>
  </div>

  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/ap_lei_chao_22.jpg" alt="Home" width="100%">
    <p><center>Ap Lei Chau, HK, 2022.12.31</center></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/ac2_22.jpg" alt="Home" width="100%">
    <p><center>CityU AC2, HK, 2022.12.20</center></p>
  </div>
</div>
